main {
    width: 100%;
    height: 100%;
}
.login__container,
.register__container {
    min-width: 250px;
    max-width: 300px;
    min-height: 500px;
    padding: 20px;
    background: transparent;
    border: none;
    box-shadow: none;
}
.login-button,
.register-button {
    font-size: 1.7rem;
    text-align: center;
}
.login__container--remember {
    justify-content: space-around;
}
footer {
    justify-content: center;
}